/* general */
@use "reset";

/* components */
@use "DragAndDrop";
@use "Choices";
@use "Img";
@use "Categorize";
@use "FillIn";

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("/fonts/CrimsonPro-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("/fonts/CrimsonPro-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: italic;
}

body {
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color: #eee;
  background-image: url("/media/bg-pattern.png");
  background-size: 256px auto;
  box-shadow: 0 0 20rem 0 #fff9 inset;
  min-height: 100dvh;
}

nav {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
}

h1 {
  font-size: 40px;
  color: black;
}

.content {
  display: flow-root;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 3rem 6rem 3rem;
  font-family: "Crimson Pro", serif;

  p {
    text-indent: 1.4rem;
  }

  li p,
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p,
  ul + p,
  ol + p,
  hr + p {
    text-indent: 0;
  }
}

#Article {
  text-align: left;

  h1 {
    text-align: center;
  }
}

a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #333;
  }
}

.table-of-contents {
  margin-top: 1rem;
}

img:not(.Img) {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}

.button-list {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.2em 1em 0.3em 1em;
  background-color: #fff;
  color: #555;
  font-weight: 700;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  box-shadow: 0.05rem 0.05rem 0.1rem #0001;
  transition: 0.2s;

  &:hover {
    background-color: #f5f5f5;
  }
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;

  a {
    display: block;
    background-color: #0001;
    border: 1px solid #999;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #0005;
    transition: 0.1s;

    .link-title {
      padding: 0.2rem 0.8rem;
      color: #000;
      font-weight: 700;
      font-size: 1.5rem;
    }

    .link-cover {
      position: relative;
      height: 0;
      padding-bottom: 133%;
      margin-top: 0.4rem;
      border: 1px solid #999;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        margin: 0;
        border-radius: 0.3rem;
      }
    }

    &:hover {
      background-color: #fff2;
      box-shadow: 0.3rem 0.3rem 0.5rem #0005;
    }
  }
}
