@use "variables" as *;

nav {
  display: flex;
  gap: $sideBorder;
  justify-content: flex-start;
  align-items: center;
  padding: 0 $sideBorder;
  background-color: var(--c-nav);

  .nav-separator {
    flex: 1 0 auto;
  }

  a {
    display: block;
    color: var(--c-text-2);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    margin: 0.5em 0;
    transition: 0.1s;

    &:hover {
      color: var(--c-text);
      border-bottom-color: var(--c-text);
    }
  }

  .nav-home-link {
    img {
      width: 1.6rem;
      margin: 0;
      // border: 1px solid var(--c-text-2);
      border-radius: 3px;
    }

    a {
      margin: 0;
      transition: 0.3s;

      &:hover {
        border-bottom-color: transparent;
        transform: rotate(31deg);
      }
    }
  }

  .color-theme-button {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0 0 1px var(--c-text-2);
    border-radius: 50%;
    transform: rotate(0.1deg);
    opacity: 0.75;
    transition: 0.3s;

    svg {
      position: absolute;
      display: block;
      left: -70%;
      top: 10%;
      width: 160%;
      max-width: none;
      height: auto;
      transition: 0.3s;

      path,
      circle {
        fill: var(--c-text);
        transition: 0.3s;
      }

      .color-theme-button__light-icon {
        opacity: 1;
        transition: 0.3s;
      }

      .color-theme-button__dark-icon {
        opacity: 0;
        transition: 0.3s;
      }
    }

    &--dark {
      box-shadow: 0 0 0 2px var(--c-text-2);

      svg {
        left: 9%;

        .color-theme-button__dark-icon {
          opacity: 1;
        }

        .color-theme-button__light-icon {
          opacity: 0;
        }
      }
    }

    &:hover {
      transform: rotate(15deg);
      opacity: 1;
    }
  }
}
